name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: pnpm

      - run: pnpm install --frozen-lockfile

      - name: Type check
        run: pnpm type-check

      - name: Test
        run: pnpm test:run

      - name: Build
        run: pnpm build

      - name: Publint
        run: pnpm ci:publint

      - name: Are the types wrong
        run: pnpm ci:attw
